body{
      font-family: sans-serif;
                }
                .trend-card{
          width: 300px;
          height: 400px;
          border-radius: 16px;
          overflow: hidden;  
          background-image: url("https://i.pinimg.com/1200x/c2/b5/2c/c2b52c224bdad4250bb1f7a9aa5f869d.jpg");
          background-size: 100%;
          background-position: center;
          transition: background-size 0.5s ease;
        }
        
        .trend-card:hover {
          background-size: 110%;
        }

        .trend-ccc1{
            color: #2563EB;
            font-family: sans-serif;
            cursor: pointer;
            height: 4%;
            padding: 0px;
            width: 30%;
            margin-left: -13px;
        }
        svg{
            width: 15%;
            height: 20px;
            fill: #2563EB;
            padding-right: -10px;
        }
        .trend-ccc1{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 10%;
            padding-bottom: 30px;
           
        }
        .trend-cards{
            padding-left: 120px;
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            gap: -20px;
        }
        b{
            font-size: 13px;
        }
        .trend-ccc2{
             padding: 0px;
             margin-top: -10px;
             width: 800px;
             font-weight: 300;
        }
        #trend-all{
            outline: none;
            border: none;
            background-color: white;
            color:#2563EB;
            font-size: 14px;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            gap: 6px;
            align-items: center;
            justify-content: center;
        }
        #trend-all:hover{
            background-color:rgb(228, 228, 228);
        }
        .trend-c1{
            display: flex;
            flex-direction: row;
            gap: 700px;
            height: 20%;
            width: 100%;
            padding-left: 10px;
        }
        .trend-cc1{
            width: 30%;
        }
        .trend-c2{
            width: 91%;
            height: 650px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            padding-left: 14.3px;
        }
        .trend-card{
            height: 309.5px;
            width: 373.755px;
            border-radius: 25px;
            overflow: hidden;
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
            padding-bottom: 15px;
        }
        .trend-card1{
            z-index: 0;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .trend-card2{
            background-image: url("https://i.pinimg.com/1200x/30/7b/ef/307befbb132e9a57b45e4e3d02425a26.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .trend-card3{
            background-image: url("https://i.pinimg.com/1200x/e9/de/32/e9de3281fdd96526fa27bd88ce0af6ea.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .trend-card4{
            background-image: url("https://i.pinimg.com/736x/db/14/61/db1461dd1a717ffd6c92f588f068ebae.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .trend-card5{
            background-image: url("https://i.pinimg.com/1200x/b7/1b/21/b71b212b4c46af4d217b3bb9f8f5f3f8.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .trend-card6{
            background-image: url("https://i.pinimg.com/736x/11/96/64/119664dae230ace6a81692542713f3e0.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        span{
            border-radius: 30px;
            background-color: rgb(249, 249, 249);
            /* padding: 10px; */
            font-size: 20px;
            font-weight: 350;
            padding-top: 3px;
            padding-bottom: 7px;
            padding-left: 18px;
            padding-right: 18px;
            float: right;
            text-align: center;
            position: relative;
            right: 17px;
            top: 13px;
        }
        .trend-r{
            background-color: auto;
            position: relative;
            bottom: -120px;
            left: 22px;
        }
        .trend-btn{
            border-radius: 30px;
            position: relative;
            bottom: -255px;
            right: -65px;
        } 
        .trend-bot{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }