.travelExp h1{ text-align: center;
     font-size: 240%;
      font-weight: bolder;
 } 

.travelExp p{ text-align: center; 
    font-size: large; 
    color: rgb(75, 70, 70); }

.travel{
    color: blueviolet;
    display: flex;
    justify-content: center;
    font-size: 110%;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 0.5%;
} 

.travel h3{ 
    font-size: 106%;
    font-weight: bolder; } 

.experiences{ border: 0px solid black;
     display: flex;
      gap: 1%; 
      padding-left: 19%; } 

.adventure{ border: 0px solid black;
     height: 14%;
     width: 19%; 
     border-radius:8%; 
     padding:1.4%; 
     background-color: rgba(251, 240, 230, 0.57); } 

.no_fade{ border: 0px solid black;
    border-radius: 19%; 
    color: white; 
    background-color: rgb(234, 122, 2); 
    padding: 8%; 
}
.w_fade {
    color: rgb(107, 103, 103); 
    padding: 11%; 
    width: 30px;
} 

.adventure p{ text-align: justify; } 

.advenview{ color: rgb(234, 122, 2);
     font-size: 120%; } 

.advenview a{ color: rgba(225, 146, 81, 0.947); 
    text-decoration: none; } 

.nightlife{ border: 0px solid black;
     height: 14%; 
     width: 19%; 
     border-radius:8%;
      padding:1.4%; }
 .nightlife svg{ border: 0px solid black;
     border-radius: 19%; 
     color: white;
      background-color: rgb(199, 16, 141); 
      padding: 8%; } 

 .nightlife p{ text-align: justify; }

  .nightview{ color: rgb(199, 16, 141);
     font-size: 120%; }

   .nightview a{ color: rgb(199, 16, 141);
    text-decoration: none; }

    .culture{ border: 0px solid black;
         height: 14%; 
         width: 19%;
          border-radius:8%; 
          padding:1.4%; } 

    .culture svg{ border: 0px solid black;
         border-radius: 19%; 
         color: white;
          background-color: rgb(31, 48, 201);
           padding: 8%; } 

    .culture p{ text-align: justify; } 

    .cultview{ color: rgb(31, 48, 201); 
        font-size: 120%; } 
    .cultview a{ color: rgb(31, 48, 201); 
        text-decoration: none; } 
    .nature{ border: 0px solid black; 
        height: 14%;
         width: 19%;
         border-radius:8%;
          padding:1.4%; }
    .nature svg{ border: 0px solid black; 
        border-radius: 19%; color: white;
         background-color: rgba(10, 161, 20, 0.95); 
         padding: 8%; } 
    .nature p{ text-align: justify; } 
    .natview{ font-size: 120%;
         color: rgba(2, 234, 18, 0.95); }
     .natview a{ color: rgba(2, 234, 18, 0.95);
         text-decoration: none; }
    
.travelEXPERIENCE {
    background-color: #fafafa;}


.adventure {
    background-color: #fff1e6;

    transition: 1s;
}

.nightlife {
    background-color: #f5ecff;

    transition: 1.1s;
}

.culture {
    background-color: #eaf2ff;

    transition: 1.1s;
}

.nature {
    background-color: #eafaf0;

    transition: 1.1s;
}


.adventure:hover{
    transform: scale(1.05);
    transition: 1s;
    background-color:#fde8d7 ;
    cursor: pointer;
    box-shadow: 5px 5px 9px 2px rgb(122, 119, 119);
}
.adventure:hover svg{
transform: scale(1.2);
margin-bottom: 3.7%;
transition: 1.2s;
box-shadow: 2px 2px 8px 4px #e9ac7e;

}
.nightlife:hover{
    transform: scale(1.05);
    transition: 1s;
    background-color: #e8d2ec;
    cursor: pointer;
    box-shadow: 5px 5px 9px 2px rgb(122, 119, 119);

}.nightlife:hover svg{
transform: scale(1.2);
margin-bottom: 3.7%;
transition: 1.2s;
box-shadow: 2px 2px 8px 4px #9964d5;
}
.culture:hover{
    transform: scale(1.05);
    transition: 1s;
    background-color:#cedff9 ;
    cursor: pointer;  
    box-shadow: 5px 5px 9px 2px rgb(122, 119, 119);
}
.culture:hover svg{
transform: scale(1.2);
margin-bottom: 3.7%;
transition: 1.2s;
box-shadow: 2px 2px 8px 4px #6ca0f4;
}
.nature:hover {
    transform: scale(1.05);
    transition: 1s;
    background-color:#d3f6e1 ;
    cursor: pointer;
box-shadow: 5px 5px 9px 2px rgb(122, 119, 119);
}
.nature:hover svg{
transform: scale(1.2);
margin-bottom: 3.7%;
transition: 1.2s;
box-shadow: 2px 2px 8px 4px #78d89d;;
}



.advenview,
.nightview,
.cultview,
.natview {
    display: flex;
    align-items: center;
    gap: px;

}
@keyframes slide{
    0%{
        transform:translateX(0px);
    }
    50%{
        transform:translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.aniarrow{
animation: slide 1.4s ease-in-out infinite alternate-reverse ;

}
@keyframes blink{
 0%{
    opacity: 1;
 }
 50%{
    opacity: 0;
 }
 100%{
    opacity: 1;
 }

}
.travel svg{
animation: blink 1.5s ease-in  infinite alternate ;
}
@keyframes stagger {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    50%{
        opacity: 1;
        transform:translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.travel h3{

    opacity: 0;
    animation: stagger 2.5s ease-in-out 12 forwards;
}